@{
    ViewData["Title"] = "Succes";
}
<h1>Reservatie</h1>

<h4>Bevestiging</h4>
<div class="alert alert-success">
    Uw reservatie werd succesvol geregistreerd!
</div>
<p><a asp-controller="Reservatie" asp-action="OverviewReservations">Ga naar overzicht</a> | <a asp-controller="Home" asp-action="Index">Terug naar Home-pagina</a></p>
