@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Reservatie</h1>
<h2>Bevestiging</h2>
<div class="allert allert-success">
    Uw reservatie werd succesvol geregistreerd!
</div>
<p><a asp-controller="Home" asp-action="Index">Terug naar Home-pagina</a></p>
