@{
    ViewData["Title"] = "Over ons";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus tempor nulla et bibendum. Nullam massa augue, tincidunt a porta sit amet, accumsan quis augue. Sed pharetra accumsan eros in finibus. Curabitur vel enim vel erat fringilla semper. Phasellus nec dictum nibh, non rutrum tellus. Pellentesque quis pellentesque odio, ut convallis magna. Ut sapien massa, varius a pulvinar at, mattis id ipsum. Curabitur pulvinar orci eu ante mattis, eget interdum nisi euismod. Integer rhoncus at ex vitae sagittis. Sed at lorem finibus, posuere ipsum gravida, aliquet lectus.</p>
